* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(90, 85, 85);
    font-family: 'Montserrat', sans-serif;
}

.menu  {
    font-size: 150%;
}

.menu a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.menu a:hover {
    color: yellow !important;
    font-size: 110%;
    transition-duration: 0.5s;
}

.menu li {
    position: relative;
}

.dropdown{
    display: none;
    position: absolute;
    list-style: none;
    z-index: 1;
    left: 0;
    background-color: rgb(90, 85, 85);
    border-radius: 3%;
    min-width: 100%;
}

.menu li:hover .dropdown{
    display: flex;
    flex-direction: column;
}

.dropdown li{
    margin: 5px;
}

.dropdown a {
    color: rgb(255, 255, 255);
    font-size: 90%;
}

.dropdown a:hover {
    font-size: 90%;
}

div.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    margin-top: 75px;
    background: black;
    height: 50px;

}